﻿@using ASPMainProject.Models
@model ASPMainProject.Models.Candidate
           
<script type="text/javascript" src="../../Scripts/KeyWordList.js"></script>

<div class="container">
    <div class="page-header">
        <h1>Edit profile</h1>
    </div>

    @using (Html.BeginForm("DetailsForm", "Candidate", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.Hidden("Id", Model.Id);
        @Html.Hidden("UserId", Model.UserId);
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Expected position:</label>
                    <div class="col-sm-7">
                        @*here was Html.TextBoxFor(m => m.SalaryMonth, ...) !!!!!!!*@
                        @Html.TextBoxFor(m => m.ExpectedPosition, new { @class = "form-control", @autocomplete = "off", @id = "position", @placeholder = "Junior Front-end Developer" })
                        @*@Html.TextBox("Position", new { @class = "form-control", @autocomplete = "off", @id = "position", @placeholder = "Junior Front-end Developer" })*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Salary per month:</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBoxFor(m => m.SalaryPerMonth, new { @type = "number", @value = "200", @class = "form-control", @step = "100", @required = "required", @autocomplete = "off", @placeholder = "700" })
                            @*@Html.TextBox("SalaryMonth", new { @type = "number", @value = "400", @class = "form-control input", @step = "400", @required = "required", @autocomplete = "off", @placeholder = "700" })*@
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Location:</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @autocomplete = "off", @required = "required", @placeholder = "Lviv" })
                        <p class="help-block">
                            The city where you are looking for a job
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Skills</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Skills, new { @class = "form-control", @rows = "5", @maxlength = "750", @placeholder = "JavaScript, css3, HTML5, git, php(wordpress template-making)" })
                        @*@if (Session["Role"] != "admin")
                            {*@
                        <p class="help-block">
                            Write the main thing, don't write all
                            the familiar abbreviations
                        </p>
                        @*}*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Experience years:</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.ExperienceYears, new { @type = "number", @value = "2", @placeholder = "2", @class = "form-control", @step = "1", @required = "required", @autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Experience description:
                    </label>
                    <div class="col-sm-7">
                        @Html.TextAreaFor(m => m.ExperienceDescription, new { @class = "form-control", @rows = "9", maxlength = "750", @placeholder = "" })

                        <p class="help-block">
                            Descripe your acting on previous work
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
                <label class="col-sm-3 control-label">Key words:</label>
                <div class="col-sm-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkSelectAll" /></th>
                                <th colspan="3">
                                    Select all
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(m => m.KeyWordPreviews)
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        
        if (Session["UserRole"] != null &&
(Session["UserRole"].ToString() == Role.Admin.ToString()))
        {
            <div class="row">

                <div class="col-sm-10">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Approving State:</label>
                        <div class="col-sm-7">
                            @Html.DropDownListFor(m => m.ApprovingState, new SelectList(new List<Object>
                        {
                            new { value = 0 , text = "UnApproved"  },
                            new { value = 1 , text = "Approved"  },
                        },
                            "value",
                            "text",
                            Model.ApprovingState
                            ), new { @class = "form-control" })
                        </div>
                    </div>
                    <br>
                </div>

            </div>
        }
        else
        {
            Html.Hidden("ApprovingState", ApprovingState.UnApproved);
        }

        <div id="extraquestions">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <input type="submit" class="btn btn-primary btn-lg" value="Update profile ">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    }
</div>