﻿@using ASPMainProject.Models
@using Microsoft.AspNet.Identity
@model ASPMainProject.Models.CandidatePreviewsWithKeyWordPreviews
           
<script type="text/javascript" src="../../Scripts/KeyWordList.js"></script>

<div class="container">
    <br />
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Categories:
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="chkSelectAll" /></th>
                                        <th colspan="3">
                                            Select all
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.EditorFor(m => m.KeyWordPreviews)
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Find" class="btn btn-info" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Candidates:</h4>
            </div>
            <div class="panel-body">
                @foreach (var item in Model.CandidatePreviews)
                {
                    <div class="clearfix">
                        @*delete me*@
                        <p class="pull-right ">
                            <small>
                                @if (item.ApprovingState == ASPMainProject.Models.ApprovingState.Approved)
                                {
                                    <span class="label label-success">
                                        @item.ApprovingState
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-danger">
                                        @item.ApprovingState
                                    </span>
                                }
                            </small>
                            <br />
                            @if (Session["UserRole"] != null && Session["UserRole"].ToString() == Role.Admin.ToString())
                            {
                                <small>
                                    <a href="@Url.Action("DetailsForm", "Candidate", new {candidateId = item.Id})">Edit candidate</a>
                                </small>
                            }
                        </p>
                        <h4> <a href="@Url.Action("Details", "Candidate", new { candidateId = item.Id })">@item.ExpectedPosition</a> </h4>
                        <p>@item.Location </p>
                        <p>
                            <span>Salary per month: $@item.SalaryPerMonth; </span>
                            Experience years: @item.ExperienceYears
                        </p>
                        <p>Skills: @item.Skills</p>

                        @if (item.KeyWords != null)
                        {
                            foreach (var elem in item.KeyWords)
                            {
                                <span class="label label-info" style="margin:2px">
                                    @elem.Value
                                </span>
                            }
                        }
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
</div>
