﻿@using ASPMainProject.Services;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")  @*I neen this to use jquery*@

    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
    </asp:ScriptManager>

    <script type="text/javascript">
        $(document).ready(function GetNewMessageCountByUserName() {
            var i = @MessageService.GetNewMessageCountByUserName(User.Identity.Name).ToString();
            if (i=='0')
                document.getElementById('NewMessageCount').innerHTML = '';
            else
                document.getElementById('NewMessageCount').innerHTML = i;
        });
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JobSeeker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div><div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="@Url.Action("Index", "Message")">
                                Messages
                                <span id="NewMessageCount" class="badge"></span>
                            </a>
                        </li>
                    }

                    <li>@Html.ActionLink("Candidates", "Index", "Candidate")</li>
                    <li>@Html.ActionLink("Employers", "Index", "Employer")</li>
                    <li>@Html.ActionLink("Adverticements", "Index", "Ad")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JobSeeker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
