<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDataContext" connectionString="data source=(LocalDb)\v11.0;attachdbfilename=&quot;D:\C# NET\EPAM\Main\ASPMainProject\ASPMainProject\App_Data\aspnet-ASPMainProject-20160209022940.mdf&quot;;initial catalog=aspnet-ASPMainProject-20160209022940;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>