﻿@model System.Collections.ArrayList

<br/>
<div class="row">
    <div class=" col-md-12">
        @Html.Partial("CandidatesAdsHistorgam", @Model)
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-5">
        <h2>Looking for a job?</h2>
        <p>           
           This is the convenient way to find job anonymously.
           No one can find you here (including your current employer).
           If you are looking for a job, you should post only qualifications description.
           You don't need to provide your own information (like your name, current company, contact info).
           This service allows you post resume, find vacancies, make respond, communicate with employers and another candidates.
           To start using you should register or login first.
        </p>
    </div>
    <div class="col-md-5">
        <h2>Looking for developers?</h2>
        <p>
            This service allows you to hire developers.
            You can post vacancies, communicate with candidates and another employers.
            To start using you should register or login first.
        </p>
    </div>
</div>