﻿@model ASPMainProject.Models.Ad
           
<script type="text/javascript" src="../../Scripts/KeyWordList.js"></script>

<div class="container">
    <div class="page-header">
        <h1>Edit your adverticement</h1>
    </div>

    @using (Html.BeginForm("DetailsForm", "Ad", FormMethod.Post, new { @class ="form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.Id);
        @Html.HiddenFor(m => m.AuthorId);
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Position:</label>
                    <div class="col-sm-7">
                        @*here was Html.TextBoxFor(m => m.SalaryMonth, ...) !!!!!!!*@
                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control", @autocomplete = "off", @id = "position", @placeholder = "Junior Front-end Developer" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Actual State:</label>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(m => m.ActualState, new SelectList(new List<Object>
                           {
                                 new { value = 0 , text = "Actual"  },
                                 new { value = 1 , text = "UnActual"  },
                           },
                            "value",
                            "text",
                            Model.ActualState
                           ), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label pull-left">Creation date:</label>
                    <div class="control-label pull-left" style="margin-left:15px">
                        @Model.CreationDate
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label pull-left">Author:</label>
                    <div class="control-label pull-left" style="margin-left:15px">
                        <a href="@Url.Action("Details", "Employer", new { id = Model.AuthorId})">@Model.AuthorFullName</a>
                        @*@Model.ExperienceDescription*@
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Salary per month:</label>
                    <div class="col-sm-2">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>
                            @Html.TextBoxFor(m => m.SalaryPerMonth, new { @type = "number", @value = "400", @class = "form-control input", @step = "400", @required = "required", @autocomplete = "off", @placeholder = "700" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Location:</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control", @autocomplete = "off", @required = "required", @placeholder = "Lviv" })
                        <p class="help-block">
                            City where you suggest vacancy.
                            For example: Kyiv, Lviv.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Company:</label>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(m => m.Company, new { @class = "form-control", @autocomplete = "off", @required = "required", @placeholder = "Microsoft" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Vacancies description:
                    </label>
                    <div class="col-sm-7">
                        @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "9", maxlength = "750", @placeholder = "some descr.." })
                        
                        <p class="help-block">
                            Descripe key responsibilities, requirements and what you offer here.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <label class="col-sm-3 control-label">Key words:</label>
                <div class="col-sm-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="chkSelectAll" /></th>
                                <th colspan="3">
                                    Select all
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(m => m.KeyWordPreviews)
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div id="extraquestions">
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            @*what is this???*@
                            @*<input type="hidden" name="csrfmiddlewaretoken" value="YtGI6gCFc5mkHM6F1OwbNA87MDbApMyI">*@
                            <input type="submit" class="btn btn-primary btn-lg" value="Update ad">
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    }
</div>