﻿@using ASPMainProject.Models
@using Microsoft.Ajax.Utilities
@model ASPMainProject.Models.AdsWithKeyWords
           
<script type="text/javascript" src="../../Scripts/KeyWordList.js"></script>

<div class="container">
    <br />
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Categories:
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="chkSelectAll" /></th>
                                        <th colspan="3">
                                            Select all
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.EditorFor(m => m.KeyWordPreviews)
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="submit" value="Find" class="btn btn-info" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Adverticements:</h4>
                @if (Session["UserType"] != null && Session["UserType"].ToString() == Position.Employer.ToString())
                {
                    <a href="@Url.Action("AddNewAd", "Ad")">Add new adverticement</a>
                }
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Ads)
                {
                    <div class="clearfix">
                        <p class="pull-right ">
                            @if (item.ActualState == ActualState.Actual)
                            {
                                <span class="label label-success">
                                    @item.ActualState
                                </span>
                            }
                            else
                            {
                                <span class="label label-danger">
                                    @item.ActualState
                                </span>
                            }
                            <br />
                            @if (Session["UserRole"] != null && Session["UserRole"].ToString() == Role.Admin.ToString())
                            {
                                <small>
                                    <a href="@Url.Action("DetailsForm", "Ad", new {adId = item.Id})">Edit</a>
                                </small>
                            }
                        </p>
                        <h4> <a href="@Url.Action("Details", "Ad", new { adId = item.Id })">@item.Position</a> </h4>
                        <p>
                            <span>@item.Location </span>
                            Company: @item.Company
                        </p>
                        <p>
                            <span>Salary per month: $@item.SalaryPerMonth; </span>
                        </p>
                        <p>
                            <span>@item.Content </span>
                        </p>
                        <p>
                            @if (item.KeyWords != null)
                            {
                                foreach (var elem in item.KeyWords)
                                {
                                    <span class="label label-info" style="margin:2px">
                                        @elem.Value
                                    </span>
                                }
                            }
                        </p>
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
    <br />
</div>
