﻿@using ASPMainProject.Models
@model ASPMainProject.Models.Employer

<div class="container">
    <div class="col-sm-12, row">
        <h2>@Model.FullName 
        @if (Session["UserRole"] != null && (Session["UserRole"].ToString() == Role.Admin.ToString()
             || @Model.UserName == User.Identity.Name))
        {
            <small>
                <a href="@Url.Action("DetailsForm", "Employer", new {id = Model.Id})">Edit</a>
            </small>
        }
        </h2>

        <div>
            @if (Model.ApprovingState == ASPMainProject.Models.ApprovingState.Approved)
            {
                <span class="label label-success">
                    @Model.ApprovingState
                </span>
            }
            else
            {
                <span class="label label-danger">
                    @Model.ApprovingState
                </span>
            }
            <p><b>Company: </b>@Model.Company</p>
            <p><b>Contact Information: </b>@Model.ContactInformation</p>
            <p><b><a href="@Url.Action("Index", "Ad", new { employerId = Model.Id })">Employer ads</a></b></p>
        </div>
    </div>

    <div class="col-sm-12, row">
        <hr>
        @using (Html.BeginForm("SendMessageTo", "Message", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.Hidden("receiverId", Model.UserId);
            <div class="col-sm-10">
                <div class="form-group">
                    @Html.TextArea("messageText", new { @class = "form-control", @rows = "9", maxlength = "750", @placeholder = "Type a message here" })
                </div>
                <button class="btn btn-success btn-lg" name="contact" id="send-btn" data-loading-text="Sending...">
                    Send message
                </button>
            </div>
        }
    </div>
</div>
