﻿@using ASPMainProject.Models
@model List<ASPMainProject.Models.Employer>
<div class="container">
    <br />

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4> Employers:</h4>
            </div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    <div class="clearfix">
                        <p class="pull-right ">
                            @if (item.ApprovingState == ASPMainProject.Models.ApprovingState.Approved)
                            {
                                <span class="label label-success pull-right">
                                    @item.ApprovingState
                                </span>
                            }
                            else
                            {
                                <span class="label label-danger pull-right">
                                    @item.ApprovingState
                                </span>
                            }
                            <br />
                            @if (Session["UserRole"] != null && Session["UserRole"].ToString() == Role.Admin.ToString())
                            {
                                <small>
                                    <a href="@Url.Action("DetailsForm", "Employer", new {id = item.Id})">Edit employer</a>
                                    |
                                </small>

                            }
                            <small>
                                <a href="@Url.Action("Index", "Ad", new { employerId = item.Id })">Employer ads</a>
                            </small>
                        </p>
                        <h4> <a href="@Url.Action("Details", "Employer", new { id = item.Id })">@item.FullName</a> </h4>
                        <p>@item.Company</p>
                        <hr>
                    </div>
                }

            </div>
        </div>
    </div>

    <br />
</div>